################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TrackingMyself_back/DataBase/TrackingMyself.jfm
